*.ipynb_checkpoints
*checkpoint
*ckpt*
*projector_config.pbtxt
*syn0.npy
*syn1neg.npy
*vectors.npy
dblp-ref
dblp-venue-*.json
dblp-vn-*.json
oldDBLP/Nouns/list-n*.json
oldDBLP/Nouns/dict-n.json
oldDBLP/Nouns/list-n-final.json
oldDBLP/Nouns/td-idf/df.txt
oldDBLP/VerbsAndNouns/dict-vn.json
oldDBLP/VerbsAndNouns/list-reduced-vn.json
oldDBLP/VerbsAndNouns/lista-aparitii-vn.json
dblp-reduced-vn-*.json
oldDBLP/VerbsAndNouns/tf-idf/df_VN.txt
oldDBLP/VerbsAndNouns/tf-idf/idf_VN.txt
list-vn*.json
tf_idf*_VN.txt
GoogleNews-vectors-negative300.bin
/word2vec/GoogleNews-vectors-negative300/model/modelSaved
/word2vec/GoogleNews-vectors-negative300/model/word2vec_model2
/word2vec/GoogleNews-vectors-negative300/model/word2vec_model_vectors2