*.rar
*.ipynb_checkpoints*
*ckpt*
*.pbtxt
*checkpoint
*.zip
*.model
*.npy
Versiunea10/apnews_sg-USEFUL/model/*
Versiunea10/enwiki_dbow/doc2vec.bin
Versiunea10/Preprocess_venue/dblp-venue-*.json
Versiunea10/Nouns/list-n-final.json
Versiunea10/Nouns/td-idf/df.txt
Versiunea10/VerbsAndNouns/dblp-reduced-vn-*.json
Versiunea10/VerbsAndNouns/dblp-vn-*.json
Versiunea10/VerbsAndNouns/dict-vn.json
Versiunea10/VerbsAndNouns/list-vn-final.json
Versiunea10/VerbsAndNouns/tf-idf/df_VN.txt
Versiunea10/VerbsAndNouns/tf-idf/idf_VN.txt
Versiunea10/VerbsAndNouns/tf-idf/tf_idf0_VN.txt
Versiunea10/VerbsAndNouns/tf-idf/tf_idf3_VN.txt
Versiunea10/dblp-ref/
Versiunea10/word2vec/GoogleNews-vectors-negative300/model/
